<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		 <link rel="stylesheet" type="text/css" href="/css/style.css">
		<title>Login></title>
	</head>
	<body>

		<h1> Login for trivia </h1>
		<form method="post" action="/">

			<input name="userName" text="type" class="ghost-input" placeholder="Username" required>
			<input type="submit" class="ghost-button" value="Go">
		</form>
	</body>
</html>